@font-face {
  font-family: "iconfont"; /* Project id 4230521 */
  src: url('iconfont.woff2?t=1693810228832') format('woff2'),
       url('iconfont.woff?t=1693810228832') format('woff'),
       url('iconfont.ttf?t=1693810228832') format('truetype');
}

.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:after {
  content: "\e716";
}

.icon-arrow-left:before {
  content: "\e7a7";
}

.icon-arrow-down:after {
  content: "\e665";
}

